span.success {
    color: #18bc9c;
}

.img-circle {
    border-radius: 50%;
}

section#contact {
    background: #f8f8f8;
}


section#contact:before, 
section#skill:after {
    color: #f8f8f8;
}

section#contact:after {
    color: #2c3e50;
}

.margin-top-50px {
    margin-top: 50px;
}

.progress .name {
    margin-left: 10px;
}
.progress .percent {
    margin: 3px 10px 0 0;
    font-size: 12px;
    color: #555;
}

.btn-send-message {
    border: 3px solid #2c3e50;
    padding: 10px 25px;
    background: white;
    color: #2c3e50;
    font-size: 16px;
    font-weight: 600;
    transition: all .6s;
}

.btn-send-message:hover {
    background: #2c3e50;
    color: white;
}

@media (min-width: 767px){
    
    section.dashed:before, 
    section.dashed:after {
        content: "";
        position: absolute;
        border-width: 2px;
        border-style: dashed;
        border-color: inherit;
        width: 100%;
        margin-top: -100px;
        color: #18bc9c;
    }
    
    section.dashed:before {
        margin-top: -104px;
    }

    section.dashed:after {
        margin-top: 100px;
    }
    
}

.size-my-tehnology {
    font-size: 23px !important;
}

.text-blinking {
    -webkit-animation-name: Opacity;
    -webkit-animation-duration: .6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    -webkit-animation-direction: alternate;
       -moz-animation-name: Opacity;
       -moz-animation-duration: .6s;
       -moz-animation-iteration-count: infinite;
       -moz-animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
       -moz-animation-direction: alternate;
        -ms-animation-name: Opacity;
        -ms-animation-duration: .6s;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
        -ms-animation-direction: alternate; 
            animation-name: Opacity;
            animation-duration: .6s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
            animation-direction: alternate; 
    
    
    
    
}
 
@-webkit-keyframes Opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes Opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-ms-keyframes Opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes Opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}




.parallax1, .parallax2 {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.parallax1 {
    height: 100vh;
    background-image: url(/img/first_slide.jpg);
}
.parallax2 {
    background-image: url(/img/parallax2.jpg);
}

.intro-text {
    margin-top: calc(50% - 138.5px);
}
